USE [master]
GO
/****** Object:  Database [PersonalProject]    Script Date: 9/28/2026 5:36:08 PM ******/
CREATE DATABASE [PersonalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalProject]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Device_ID] [int] IDENTITY(1,1) NOT NULL,
	[Device_Name] [varchar](25) NOT NULL,
	[Device_Type] [varchar](25) NOT NULL,
	[Manufacturer] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Status] [varchar](25) NOT NULL,
	[Location] [varchar](50) NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[Device_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docker_Containers]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docker_Containers](
	[Container_ID] [int] IDENTITY(1,1) NOT NULL,
	[Container_Name] [varchar](50) NOT NULL,
	[VM_ID] [int] NOT NULL,
	[Image_Nmae] [varchar](50) NOT NULL,
	[Port_Number] [int] NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Docker_Containers] PRIMARY KEY CLUSTERED 
(
	[Container_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IP_Addresses]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IP_Addresses](
	[IP_ID] [int] IDENTITY(1,1) NOT NULL,
	[Device_ID] [int] NOT NULL,
	[Network_ID] [int] NOT NULL,
	[IP_Address] [varchar](15) NOT NULL,
	[Address_Type] [varchar](25) NOT NULL,
 CONSTRAINT [PK_IP_Addresses] PRIMARY KEY CLUSTERED 
(
	[IP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Networks]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Networks](
	[Network_ID] [int] IDENTITY(1,1) NOT NULL,
	[Network_Name] [varchar](50) NOT NULL,
	[Subnet] [varchar](50) NOT NULL,
	[Gateway] [varchar](15) NULL,
	[Vlan] [int] NULL,
 CONSTRAINT [PK_Networks] PRIMARY KEY CLUSTERED 
(
	[Network_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operating_Systems]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operating_Systems](
	[OS_ID] [int] IDENTITY(1,1) NOT NULL,
	[OS_Name] [varchar](50) NOT NULL,
	[Version] [varchar](50) NULL,
	[Architecture] [varchar](50) NULL,
 CONSTRAINT [PK_Operating_Systems] PRIMARY KEY CLUSTERED 
(
	[OS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Project_ID] [int] IDENTITY(1,1) NOT NULL,
	[Project_Name] [varchar](50) NOT NULL,
	[Project_Description] [varchar](max) NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Project_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[Service_Name] [varchar](50) NOT NULL,
	[Service_Type] [varchar](50) NOT NULL,
	[Device_ID] [int] NULL,
	[VM_ID] [int] NULL,
	[Container_ID] [int] NULL,
	[Port] [int] NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Virtual_Machines]    Script Date: 9/28/2026 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Virtual_Machines](
	[VM_ID] [int] IDENTITY(1,1) NOT NULL,
	[VM_Name] [varchar](50) NOT NULL,
	[Device_ID] [int] NOT NULL,
	[OS_ID] [int] NOT NULL,
	[CPU_Cores] [int] NOT NULL,
	[RAM_Used] [int] NOT NULL,
	[Storage_Used] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Virtual_Machines] PRIMARY KEY CLUSTERED 
(
	[VM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Device_ID], [Device_Name], [Device_Type], [Manufacturer], [Model], [Status], [Location]) VALUES (1, N'R620', N'Server', N'Dell', N'PowerEdge R620', N'Active', N'Basement')
INSERT [dbo].[Devices] ([Device_ID], [Device_Name], [Device_Type], [Manufacturer], [Model], [Status], [Location]) VALUES (2, N'DL360p', N'Server', N'HP', N'ProLiant DL360p Gen8', N'Active', N'Basement')
INSERT [dbo].[Devices] ([Device_ID], [Device_Name], [Device_Type], [Manufacturer], [Model], [Status], [Location]) VALUES (3, N'OptiPlex-5050', N'PC', N'Dell', N'OptiPlex 5050', N'Active', N'Desk')
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Docker_Containers] ON 

INSERT [dbo].[Docker_Containers] ([Container_ID], [Container_Name], [VM_ID], [Image_Nmae], [Port_Number], [Status]) VALUES (1, N'dashboard', 1, N'dashboard', 5000, N'Running')
INSERT [dbo].[Docker_Containers] ([Container_ID], [Container_Name], [VM_ID], [Image_Nmae], [Port_Number], [Status]) VALUES (2, N'nginx', 1, N'nginx', 8080, N'Running')
INSERT [dbo].[Docker_Containers] ([Container_ID], [Container_Name], [VM_ID], [Image_Nmae], [Port_Number], [Status]) VALUES (3, N'portainer', 1, N'portainer/portainer-ce', 9443, N'Running')
SET IDENTITY_INSERT [dbo].[Docker_Containers] OFF
GO
SET IDENTITY_INSERT [dbo].[IP_Addresses] ON 

INSERT [dbo].[IP_Addresses] ([IP_ID], [Device_ID], [Network_ID], [IP_Address], [Address_Type]) VALUES (1, 2, 1, N'192.168.1.211', N'static')
INSERT [dbo].[IP_Addresses] ([IP_ID], [Device_ID], [Network_ID], [IP_Address], [Address_Type]) VALUES (3, 1, 2, N'172.17.0.1', N'docker network')
INSERT [dbo].[IP_Addresses] ([IP_ID], [Device_ID], [Network_ID], [IP_Address], [Address_Type]) VALUES (4, 2, 3, N'192.168.10.10', N'static')
SET IDENTITY_INSERT [dbo].[IP_Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Networks] ON 

INSERT [dbo].[Networks] ([Network_ID], [Network_Name], [Subnet], [Gateway], [Vlan]) VALUES (1, N'Home/Lab LAN', N'192.168.1.0/24', NULL, NULL)
INSERT [dbo].[Networks] ([Network_ID], [Network_Name], [Subnet], [Gateway], [Vlan]) VALUES (2, N'Docker Network', N'172.17.0.0/16', N'172.17.0.1', NULL)
INSERT [dbo].[Networks] ([Network_ID], [Network_Name], [Subnet], [Gateway], [Vlan]) VALUES (3, N'Management Network', N'192.168.10.0/24', N'192.168.10.1', 10)
SET IDENTITY_INSERT [dbo].[Networks] OFF
GO
SET IDENTITY_INSERT [dbo].[Operating_Systems] ON 

INSERT [dbo].[Operating_Systems] ([OS_ID], [OS_Name], [Version], [Architecture]) VALUES (1, N'Windows Pro', N'11', N'x64')
INSERT [dbo].[Operating_Systems] ([OS_ID], [OS_Name], [Version], [Architecture]) VALUES (2, N'Ubuntu Server', N'26.04.1 LTS', N'x64')
INSERT [dbo].[Operating_Systems] ([OS_ID], [OS_Name], [Version], [Architecture]) VALUES (3, N'Linux Mint', N'22.3', N'x64')
SET IDENTITY_INSERT [dbo].[Operating_Systems] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Project_ID], [Project_Name], [Project_Description], [Status]) VALUES (1, N'DevOps Lab', N'Home lab enviroment for learning DevOps, Linux, Docker, virtualization, and Development', N'Active')
INSERT [dbo].[Projects] ([Project_ID], [Project_Name], [Project_Description], [Status]) VALUES (2, N'AzerothCore', N'Private Word of Warcraft Server', N'Inactive')
INSERT [dbo].[Projects] ([Project_ID], [Project_Name], [Project_Description], [Status]) VALUES (3, N'Networking Lab', N'Cisco networking practice enviroment', N'Inactive')
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Service_ID], [Service_Name], [Service_Type], [Device_ID], [VM_ID], [Container_ID], [Port], [Status]) VALUES (1, N'Dashboard', N'Web Application', NULL, 1, 1, 5000, N'Running')
INSERT [dbo].[Services] ([Service_ID], [Service_Name], [Service_Type], [Device_ID], [VM_ID], [Container_ID], [Port], [Status]) VALUES (2, N'Nginx', N'Web Server', NULL, 1, 2, 8080, N'Running')
INSERT [dbo].[Services] ([Service_ID], [Service_Name], [Service_Type], [Device_ID], [VM_ID], [Container_ID], [Port], [Status]) VALUES (3, N'Portainer', N'Container Management', NULL, 1, 3, 9443, N'Running')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Virtual_Machines] ON 

INSERT [dbo].[Virtual_Machines] ([VM_ID], [VM_Name], [Device_ID], [OS_ID], [CPU_Cores], [RAM_Used], [Storage_Used], [Status]) VALUES (1, N'devops-lab', 2, 1, 6, 8, 50, N'Active')
INSERT [dbo].[Virtual_Machines] ([VM_ID], [VM_Name], [Device_ID], [OS_ID], [CPU_Cores], [RAM_Used], [Storage_Used], [Status]) VALUES (2, N'database-server', 2, 1, 4, 8, 100, N'Stopped')
INSERT [dbo].[Virtual_Machines] ([VM_ID], [VM_Name], [Device_ID], [OS_ID], [CPU_Cores], [RAM_Used], [Storage_Used], [Status]) VALUES (3, N'docker-lab', 2, 1, 4, 8, 80, N'Stopped')
SET IDENTITY_INSERT [dbo].[Virtual_Machines] OFF
GO
USE [master]
GO
